## Installing Packages

In [1]:
#pip install plotly

In [2]:
#pip install dash

In [3]:
#pip install dash_bootstrap_components

## Importing Packages

In [ ]:
import pandas as pd
import numpy as np
import json

In [ ]:
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.io as pio
pio.renderers.default = "browser"
import dash
from dash.dependencies import Input, Output
import dash_core_components as dcc
import dash_html_components as html
import dash_bootstrap_components as dbc
import plotly.graph_objects as go

## Get Data

In [6]:
covid=pd.read_csv(r"C:\Users\RAASI\Downloads\state_wise.csv")

In [7]:
covid.head()

,State,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,Migrated_Other,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths,State_Notes
0,Total,10310778,9910982,149305,247630,2/1/2021 19:44:31,2861,TT,4291,5358,50,NaN
1,Maharashtra,1935636,1832825,49580,52084,01/01/2021 21:55:34,1147,MH,0,0,0,"[Dec 16]:10,218 duplicate cases & other state ..."
2,Karnataka,921128,898176,12099,10834,02/01/2021 19:38:34,19,KA,755,976,3,NaN
3,Andhra Pradesh,882850,872545,7111,3194,02/01/2021 19:38:35,0,AP,238,279,3,NaN
4,Tamil Nadu,819845,799427,12146,8272,02/01/2021 19:38:37,0,TN,910,1007,11,[July 22]: 444 backdated deceased entries adde...

## Dash APP

In [8]:
external_stylesheets = [dbc.themes.BOOTSTRAP]

In [9]:
app = dash.Dash(__name__, external_stylesheets=external_stylesheets)
app.title = 'Covid-19 Dashboard'

## Generating Cards

In [10]:
def generate_card_content(card_header,card_value):
    card_head_style = {'textAlign':'center','fontSize':'150%'}
    card_body_style = {'textAlign':'center','fontSize':'200%'}
    card_header = dbc.CardHeader(card_header,style=card_head_style)
    card_body = dbc.CardBody(
        [
            html.H5(f"{int(card_value):,}", className="card-title",style=card_body_style),
            html.P(
                className="card-text",style={'textAlign':'center'}
            ),
        ]
    )
    card = [card_header,card_body]
    return card

In [11]:
def get_cntry_total(covid,case,State):
    return covid[covid['State']==State].loc[:,[case]].sum()

In [12]:
def generate_cards(State='Total'):
    confirmed = get_cntry_total(covid,'Confirmed',State)
    deaths = get_cntry_total(covid,'Deaths',State)
    recovered  = get_cntry_total(covid,'Recovered',State)
    active = get_cntry_total(covid,'Active',State)
    cards = html.Div(
        [
            dbc.Row(
                [
                    dbc.Col(dbc.Card(generate_card_content("Recovered",recovered), color="success", inverse=True),md=dict(size=2,offset=2)),
                    dbc.Col(dbc.Card(generate_card_content("Confirmed",confirmed), color="warning", inverse=True),md=dict(size=2)),
                    dbc.Col(dbc.Card(generate_card_content("Active",active), color="primary", inverse=True),md=dict(size=2)),
                    dbc.Col(dbc.Card(generate_card_content("Dead",deaths),color="danger", inverse=True),md=dict(size=2)),
                ],
                className="mb-4",
            ),
        ],id='card1'
    )
    return cards

## Generating Bar Plot Using Plotly

In [13]:
df=covid.drop([0],axis=0)
df

,State,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,Migrated_Other,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths,State_Notes
1,Maharashtra,1935636,1832825,49580,52084,01/01/2021 21:55:34,1147,MH,0,0,0,"[Dec 16]:10,218 duplicate cases & other state ..."
2,Karnataka,921128,898176,12099,10834,02/01/2021 19:38:34,19,KA,755,976,3,NaN
3,Andhra Pradesh,882850,872545,7111,3194,02/01/2021 19:38:35,0,AP,238,279,3,NaN
4,Tamil Nadu,819845,799427,12146,8272,02/01/2021 19:38:37,0,TN,910,1007,11,[July 22]: 444 backdated deceased entries adde...
5,Kerala,765925,697591,3096,65059,01/01/2021 22:56:30,179,KL,0,0,0,Mahe native who expired in Kannur included in ...
6,Delhi,626448,610535,10571,5342,02/01/2021 19:44:33,0,DL,494,496,14,[July 14]: Value for the total tests conducted...
7,Uttar Pradesh,586752,564541,8379,13832,02/01/2021 08:06:30,0,UP,0,0,0,NaN
8,West Bengal,553216,531862,9738,11616,01/01/2021 20:18:32,0,WB,0,0,0,NaN
9,Odisha,330117,325733,1933,2451,02/01/2021 12:26:33,0,OR,251,0,4,[July 12th] :20 non-covid deaths reported in s...
10,Rajasthan,309319,297819,2705,8795,02/01/2021 19:38:41,0,RJ,467,890,5,NaN
11,Telangana,287108,279991,1546,5571,02/01/2021 13:41:31,0,TG,293,535,2,[July 27] : Telangana bulletin for the previou...
12,Chhattisgarh,280507,265788,3375,11344,01/01/2021 21:55:42,0,CT,0,0,0,NaN
13,Haryana,262850,256811,2915,3124,02/01/2021 19:44:35,0,HR,239,425,4,NaN
14,Bihar,253652,247579,1403,4669,02/01/2021 19:44:36,1,BR,397,490,3,NaN
15,Gujarat,245772,231900,4309,9563,01/01/2021 20:41:33,0,GJ,0,0,0,NaN
16,Madhya Pradesh,242571,229731,3618,9222,02/01/2021 09:55:31,0,MP,0,0,0,[Oct 14]: 4469 confirmed cases and 4469 recove...
17,Assam,216251,211989,1049,3210,02/01/2021 08:06:32,3,AS,0,0,0,NaN
18,Punjab,166770,157904,5349,3517,01/01/2021 21:00:35,0,PB,0,0,0,NaN
19,Jammu and Kashmir,121471,116587,1885,2999,02/01/2021 19:38:45,0,JK,244,260,1,NaN
20,Jharkhand,115241,112529,1030,1682,01/01/2021 22:56:34,0,JH,0,0,0,NaN
21,Uttarakhand,91281,83998,1515,4582,02/01/2021 08:06:33,1186,UT,0,0,0,[Oct 30]: Metric of capturing the testing data...
22,Himachal Pradesh,55470,52104,924,2394,01/01/2021 22:56:35,48,HP,0,0,0,NaN
23,Goa,51135,49466,739,930,01/01/2021 20:18:38,0,GA,0,0,0,NaN
24,Puducherry,38164,37165,633,366,02/01/2021 08:06:34,0,PY,0,0,0,NaN
25,Tripura,33265,32756,382,104,01/01/2021 22:56:37,23,TR,0,0,0,[Aug 4]: Tripura bulletin for the previous day...
26,Manipur,28206,26742,356,1108,02/01/2021 08:06:36,0,MN,0,0,0,[Dec 14]:824 out of 980 recovered cases are ba...
27,Chandigarh,19799,19109,318,372,01/01/2021 19:43:40,0,CH,0,0,0,NaN
28,Arunachal Pradesh,16719,16566,56,97,02/01/2021 08:06:37,0,AR,0,0,0,[July 25]: All numbers corresponding to Papum ...
29,Meghalaya,13427,13139,139,149,01/01/2021 03:00:31,0,ML,0,0,0,NaN
30,Nagaland,11929,11528,79,190,02/01/2021 08:06:39,132,NL,0,0,0,NaN
31,Ladakh,9525,9152,127,246,02/01/2021 08:06:40,0,LA,0,0,0,NaN
32,Sikkim,5900,5144,128,534,01/01/2021 22:56:39,94,SK,0,0,0,NaN
33,Andaman and Nicobar Islands,4946,4830,62,54,01/01/2021 22:56:40,0,AN,0,0,0,NaN
34,Mizoram,4219,4100,8,111,02/01/2021 08:51:31,0,MZ,3,0,0,NaN
35,Dadra and Nagar Haveli and Daman and Diu,3364,3320,2,13,31/12/2020 19:32:38,29,DN,0,0,0,NaN
36,State Unassigned,0,0,0,0,19/07/2020 09:40:01,0,UN,0,0,0,MoHFW website reports that these are the 'case...
37,Lakshadweep,0,0,0,0,26/03/2020 07:19:29,0,LD,0,0,0,NaN

In [14]:
def fig_world_trend(cntry='India',window=3):
    yaxis_title = "Confirmed Cases"
    fig = px.bar(df, y='Confirmed', x='State', title='Confirmed cases ',height=600,color_discrete_sequence =['red'])
    fig.update_layout(title_x=0.5,plot_bgcolor='#FFF',paper_bgcolor='#FFF',xaxis_title="States",yaxis_title=yaxis_title)
    return fig

In [15]:
def graph1():
    return dcc.Graph(id='graph1',figure=fig_world_trend('India'))

In [16]:
top5_Active=df.sort_values(by="Deaths",ascending=False)

In [17]:
df2=top5_Active[0:5]

In [18]:
df3=df2.sort_values(by="Deaths",ascending=True)

In [19]:
def get_country_list():
    return np.delete(covid['State'].unique(), np.where(covid['State'].unique() == 'Total'))

def create_dropdown_list(cntry_list):
    dropdown_list = []
    for cntry in sorted(cntry_list):
        tmp_dict = {'label':cntry,'value':cntry}
        dropdown_list.append(tmp_dict)
    return dropdown_list

def get_country_dropdown(id):
    return html.Div([
                        html.Label('Select State'),
                        dcc.Dropdown(id='my-id'+str(id),
                            options=create_dropdown_list(get_country_list()),
                            value='Total'
                        ),
                        html.Div(id='my-div'+str(id))
                    ])

In [20]:
def top_5():
    fig = px.bar(df3,x="Deaths",y="State",title="Top 5 States to provide Vaccine",width=800,height=600,color_discrete_sequence=['blue'])
    fig.update_layout(title_x=0.5,plot_bgcolor='#e377c2',paper_bgcolor='#FFF',xaxis_title="Effect of Covid 19",yaxis_title="State")
    return fig

In [21]:
def graph2():
    return dcc.Graph(id='graph2',figure=top_5())

In [22]:
dist=pd.read_csv(r"C:\Users\RAASI\Downloads\district_wise (1).csv")

In [23]:
maharashtra_districts=dist[dist['State']=="Maharashtra"]

In [24]:
maharashtra_districts=maharashtra_districts.sort_values("Deceased", ascending = False)[0:5]

In [25]:
def top_5_districts():
    fig = px.bar(maharashtra_districts,x="Deceased",y="District",title="Top 5 Districts in maharashtra to provide Vaccine",width=800,height=600,color_discrete_sequence=['red'])
    fig.update_layout(title_x=0.5,plot_bgcolor='#FFF',paper_bgcolor='#FFF',xaxis_title="Effect of Covid 19",yaxis_title="State")
    return fig

In [26]:
def graph5():
    return dcc.Graph(id='graph5',figure=top_5_districts())

#  Generating Pie charts

In [27]:
age=pd.read_csv(r"C:\Users\RAASI\Documents\patients_data.csv")

C:\Users\RAASI\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning:

Columns (4,12,13,14,15,18,19) have mixed types. Specify dtype option on import or set low_memory=False.

In [28]:
age = age[['Age Bracket','Gender', 'Detected City',
       'Detected District', 'Detected State', 'Backup Notes']]

In [29]:
age=age.dropna()

In [30]:
males=(age['Gender']=='M').sum()
females=(age['Gender']=='F').sum()
a=[males,females]
labels=['Male','Female']
def gender():
    fig = go.Figure(data=[go.Pie(labels=labels, values=a,textinfo='label+percent',insidetextorientation='radial')])
    fig.update_layout(title_text='Gender Proportion')
    return fig

In [31]:
def graph3():
    return dcc.Graph(id='graph3',figure=gender())

In [32]:
data_types_dict = {'Age Bracket': int} 
modified_data = age.astype(data_types_dict)
age1=((modified_data['Age Bracket']>=1) & (modified_data['Age Bracket']<15)).sum()
age2=((modified_data['Age Bracket']>=15) & (modified_data['Age Bracket']<30)).sum()
age3=((modified_data['Age Bracket']>=30) & (modified_data['Age Bracket']<50)).sum()
age4=((modified_data['Age Bracket']>=50) & (modified_data['Age Bracket']<75)).sum()
age5=((modified_data['Age Bracket']>=75)).sum()

In [33]:
ag=[age1,age2,age3,age4,age5]
label=['0-15','15-30','30-50','50-75','>75']
def age_pie():
    fig = go.Figure(data=[go.Pie(labels=label, values=ag,textinfo='label+percent')])
    fig.update_layout(title_text='Age Proportion')
    return fig

In [34]:
def graph4():
    return dcc.Graph(id='graph4',figure=age_pie())

## Layout of the app

In [35]:
colors = {
    'background': '#111111',
    'bodyColor':'#FFF',
    'text': '#FFF'
}
def get_page_heading_style():
    return {'backgroundColor': colors['background']}


def get_page_heading_title():
    return html.H1(children='COVID-19 Dashboard',
                                        style={
                                        'textAlign': 'center',
                                        'margin-top':'10px',
                                        'height':'60px',
                                        'color': colors['text']
                                    })

def get_page_heading_subtitle():
    return html.Div(children='Prioritize Vaccine Delivery Model generted from various sources.',
                                         style={
                                             'textAlign':'center',
                                             'margin-bottom':'10px',
                                             'color':colors['text']
                                         })
def generate_page_header():
    main_header =  dbc.Row(
                            [
                                dbc.Col(get_page_heading_title(),md=12)
                            ],
                            align="center",
                            style=get_page_heading_style()
                        )
    subtitle_header = dbc.Row(
                            [
                                dbc.Col(get_page_heading_subtitle(),md=12)
                            ],
                            align="center",
                            style=get_page_heading_style()
                        )
    header = (main_header,subtitle_header)
    return header

In [36]:
def generate_layout():
    page_header = generate_page_header()
    layout = dbc.Container(
        [
            page_header[0],
            page_header[1],
            html.Hr(),
            generate_cards(),
            html.Hr(),
            dbc.Row(
                [
                    dbc.Col(get_country_dropdown(id=1),md=dict(size=4,offset=4))                    
                ],
            
            ),
            dbc.Row(
                [                    
                    dbc.Col(graph(),md=dict(size=6,offset=3))
                ],
                align="center",

            ),
            dbc.Row(
                [                
                    
                    dbc.Col(graph1(),md=dict(size=6,offset=3))
        
                ],
                align="center",

            ),
            dbc.Row(
                [
                    dbc.Col(get_slider(),md=dict(size=4,offset=4))                    
                ]
            
            ),
            dbc.Row(
                [
                    dbc.Col(graph3(),width=4),
                    dbc.Col(graph4(),width=4),
                ],
                justify="center"
            ),
            dbc.Row(
                [
                    dbc.Col(graph2(),md=dict(size=4,offset=3))                    
                ]
            
            ),
            dbc.Row(
                [
                    dbc.Col(graph5(),md=dict(size=4,offset=3))                    
                ]
            
            ),
        ],fluid=True,style={'backgroundColor': colors['bodyColor']}
    )
    return layout

In [37]:
def get_country_list():
    return np.delete(covid['State'].unique(), np.where(covid['State'].unique() == 'Total'))

def create_dropdown_list(cntry_list):
    dropdown_list = []
    for cntry in sorted(cntry_list):
        tmp_dict = {'label':cntry,'value':cntry}
        dropdown_list.append(tmp_dict)
    return dropdown_list

def get_country_dropdown(id):
    return html.Div([
                        html.Label('Select State'),
                        dcc.Dropdown(id='my-id'+str(id),
                            options=create_dropdown_list(get_country_list()),
                            value='Total'
                        ),
                        html.Div(id='my-div'+str(id))
                    ])

In [38]:
def get_slider():
    return html.Div([  
                        dcc.Slider(
                            id='my-slider',
                            min=1,
                            max=15,
                            step=None,
                            marks={
                                1: 'monthly',
                                3: '3 months',
                                5: '5 months',
                                7: '7 months',
                                14: 'Overall'
                            },
                            value=3,
                        ),
                        html.Div([html.Label('Select Moving Average Window')],id='my-div'+str(id),style={'textAlign':'center'})
                    ])

# Geojson Map

In [39]:
india_states = json.load(open(r"C:\Users\RAASI\Downloads\states_india.geojson", "r"))

In [40]:
state_id_map = {}
for feature in india_states["features"]:
    feature["id"] = feature["properties"]["state_code"]
    state_id_map[feature["properties"]["st_nm"]] = feature["id"]

In [41]:
state_wise_cases=pd.read_csv(r"C:\Users\RAASI\Downloads\state_level_latest.csv")

In [42]:
state_wise_cases.drop(['Last_Updated_Time','Migrated_Other','State_code','Delta_Confirmed','Delta_Recovered','Delta_Deaths'],axis=1)

,State,Confirmed,Recovered,Deaths,Active,State_Notes
0,Total,2025409,1377384,41638,605933,NaN
1,Maharashtra,479779,316375,16792,146305,307 cases are marked as non-covid deaths in MH...
2,Tamil Nadu,279144,221087,4571,53486,[July 22]: 444 backdated deceased entries adde...
3,Delhi,141531,127124,4059,10348,[July 14]: Value for the total tests conducted...
4,Karnataka,158254,80281,2897,75067,NaN
5,Andhra Pradesh,196789,112870,1753,82166,Total includes patients from other states and ...
6,Uttar Pradesh,108974,63402,1918,43654,NaN
7,Gujarat,67811,50524,2579,14708,NaN
8,West Bengal,86754,61023,1902,23829,NaN
9,Telangana,73050,52103,589,20358,[July 27]\nTelangana bulletin for the previous...
10,Rajasthan,48996,35131,757,13108,NaN
11,Bihar,68148,43820,388,23939,NaN
12,Haryana,39303,32640,458,6205,[Aug 2]: 21 Foreign Evacuees have been merged ...
13,Assam,52818,37225,126,15464,Includes 1 case from Nagaland
14,Madhya Pradesh,36564,26902,946,8716,NaN
15,Odisha,40717,26888,280,13549,[July 12th] 20 non-covid deaths reported in st...
16,Jammu and Kashmir,23454,15708,436,7310,NaN
17,Kerala,30449,18333,98,11983,Mahe native who expired in Kannur included in ...
18,Punjab,20891,13659,517,6715,NaN
19,Jharkhand,15756,6594,145,9017,NaN
20,Chhattisgarh,11020,8088,77,2855,NaN
21,Uttarakhand,8623,5427,102,3056,NaN
22,Goa,7614,5453,66,2095,NaN
23,Tripura,5740,3793,31,1898,[Aug 4]\nTripura bulletin for the previous day...
24,Puducherry,4621,2808,70,1743,NaN
25,Manipur,3217,1905,8,1304,NaN
26,Himachal Pradesh,3047,1865,13,1141,HP has 29 Migrated cases which are reduced fro...
27,Ladakh,1595,1177,7,411,NaN
28,Nagaland,2580,819,6,1752,NaN
29,Arunachal Pradesh,1948,1245,3,700,[July 25]: All numbers corresponding to Papum ...
30,Chandigarh,1327,777,20,529,NaN
31,Dadra and Nagar Haveli and Daman and Diu,1415,997,2,406,NaN
32,Meghalaya,990,345,5,640,[June 17]:\nOne case was identified to be fals...
33,Sikkim,829,353,1,475,NaN
34,Mizoram,538,288,0,249,"""Other"" case in MZ is a patient who 'migrated-..."
35,Andaman and Nicobar Islands,1123,355,16,752,NaN
36,State Unassigned,0,0,0,0,MoHFW website reports that these are the 'case...
37,Lakshadweep,0,0,0,0,NaN

## Processing the data

In [43]:
state_wise_cases = state_wise_cases[state_wise_cases.State != 'Total']
state_wise_cases = state_wise_cases[state_wise_cases.State != 'Ladakh']
state_wise_cases = state_wise_cases[state_wise_cases.State != 'State Unassigned']
state_wise_cases = state_wise_cases[state_wise_cases.State != 'Arunachal Pradesh']
state_wise_cases = state_wise_cases[state_wise_cases.State != 'Dadra and Nagar Haveli and Daman and Diu']
state_wise_cases = state_wise_cases[state_wise_cases.State != 'Andaman and Nicobar Islands']
for index in state_wise_cases.index:
    if state_wise_cases.loc[index,'State']=='Jammu and Kashmir':
        state_wise_cases.loc[index,'State']='Jammu & Kashmir'
    if state_wise_cases.loc[index,'State']=='Delhi':
        state_wise_cases.loc[index,'State']='NCT of Delhi'

In [44]:
state_wise_cases["id"] = state_wise_cases["State"].apply(lambda x: state_id_map[x])

### Plot the india map with Confirmed cases

In [45]:
fig = px.choropleth(
    state_wise_cases,
    locations="id",
    geojson=india_states,
    color="Confirmed",
    hover_name="State",
    hover_data=["Confirmed","Recovered","Deaths","Active"],
    title="Covid-19 Latest Updates all over India",
)
fig.update_geos(fitbounds="locations", visible=False)

In [46]:
def graph():
    return dcc.Graph(id="1",figure=fig)

## App Callbacks (Decorators)

In [47]:
app.layout=generate_layout()

In [48]:
@app.callback(
    [Output(component_id='graph1',component_property='figure'), #line chart
    Output(component_id='card1',component_property='children')], #overall card numbers
    [Input(component_id='my-id1',component_property='value'), #dropdown
     Input(component_id='my-slider',component_property='value')] #slider
)
def update_output_div(input_value1,input_value2):
    return fig_world_trend(input_value1,input_value2),generate_cards(input_value1)

In [ ]:
app.run_server(port=5000,debug=False)

Dash is running on http://127.0.0.1:5000/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [05/Jan/2021 16:22:57] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [05/Jan/2021 16:22:58] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [05/Jan/2021 16:23:03] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [05/Jan/2021 16:23:03] "POST /_dash-update-component HTTP/1.1" 200 -